################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

#Ignore files built by Visual Studio
*.suo
*.cache
*.dtbcache
*.ide
*.ide-scm
*.ide-wal
*.user
*.csprojAssemblyReference.cache
*.csproj.FileListAbsolute.txt
*.dll
*.pdb
/CHampionship/PersonModels.csv
/CHampionship/TrackerUI/bin/Debug/TrackerUI.exe
/CHampionship/TrackerUI/bin/Debug/TrackerUI.exe.config
/CHampionship/TeamModels.csv
