################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CHampionship/Data/bin/Debug/netstandard2.0
/CHampionship/Data/obj
/CHampionship/.vs/CHampionship/v16
/CHampionship/.vs/CHampionship/DesignTimeBuild/.dtbcache
/CHampionship/Data/Data.csproj
/CHampionship/CHampionship.sln
/CHampionship/CHampionship.sln
/CHampionship/Data/TrackerLibrary.csproj
/CHampionship/Data/Data.csproj
